/* rem and em do NOT depend on html font-size in media queries. Instead, 1rem = 1em = 16px */

/* 1250px */
/* 1250 / 16 = 78.1 */

/* ************************************ */
/* MAX WIDTH 1280PX  (Smaller desktops) */
/* ************************************ */

@media (max-width: 80em) {
  .google-map {
    width: 100%;
  }
  .footer-inner {
    max-width: 80%;
  }
}

/* ************************************ */
/* MAX WIDTH 1200PX  (Landscape desktops) */
/* ************************************ */

@media (max-width: 75em) {
  .grid--our-story {
    grid-template-columns: repeat(1, 2fr);
  }

  #p--break-away {
    grid-row-start: 4;
  }

  .container--img-our-story {
    max-width: 100%;
    max-height: 50em;
    min-height: 20em;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .img--our-story {
    max-width: 100%;
    position: absolute;
  }
}

/* ************************************ */
/* MAX WIDTH 1056PX  (...) */
/* ************************************ */

@media (max-width: 66em) {
  body {
    font-size: 1.8em;
  }

  main {
    margin: -9.6rem 3.6rem 9.6rem 5.2rem;
  }

  .hero-title {
    font-size: 3.6rem;
  }

  .btn-block {
    flex-direction: column;
  }

  .grid--menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .form-input {
    padding: 1em 0;
  }

  .date-div,
  .time-div,
  .party-num-div,
  .reservation-name-div {
    grid-column-start: span 3;
  }

  .email-div {
    grid-column-start: span 6;
  }
}

/* ************************************ */
/* MAX WIDTH 800PX  (...) */
/* ************************************ */

@media (max-width: 50em) {
  .hero-inner {
    width: 85vw;
  }

  .header-logo {
    font-size: 2.4rem;
    padding-left: 3.2rem;
  }
  .main-nav-list {
    display: none;
  }

  .btn--mobile-nav {
    display: block;
    padding-right: 3.2rem;
  }
  h1.hero-title {
    font-size: 2.8rem;
    /* font-weight: 500; */
  }

  /* MENU  */
  .grid--2-cols,
  .grid--3-cols,
  .grid--6-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .date-div,
  .time-div,
  .party-num-div,
  .reservation-name-div {
    grid-column-start: span 6;
  }
}
