.header {
  position: relative;
  height: 100vh;
}

/* ************************************ */
/* HEADER NAVIGATION */
/* ************************************ */

.header-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 18rem;
  position: sticky;
  top: 0rem;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.95),
    rgba(255, 255, 255, 0)
  );
  z-index: 9999;
}

.header-logo {
  font-family: "League Script", cursive;
  font-size: 4rem;
  color: #fff;
  padding-left: 9.6rem;
}

.main-nav {
  padding-right: 9.6rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
}

.main-nav-list li:not(:last-child) {
  margin-right: 3.2rem;
}

.main-nav-link {
  text-decoration: none;
  padding: 0.8rem;
  color: #fff;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-size: 2.2rem;
  font-weight: 200;
  border-bottom: solid 0.4rem #68681c;
}

/* ************************************ */
/* HERO */
/* ************************************ */

.header-hero {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.hero-inner {
  align-items: center;
}

.hero-title {
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.hero-text {
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

/* ************************************ */
/* OUR STORY */
/* ************************************ */

.grid--our-story {
  gap: 4.8rem;
  column-gap: 8rem;
  background-color: rgba(24, 31, 28, 0.75);
  padding: 5.6rem;
  align-items: center;
}

.img--our-story {
  width: 50rem;
}

.container--our-story-grid p {
  margin-bottom: 2.4rem;
}

/* ************************************ */
/* MENU */
/* ************************************ */

.menu-category:not(:first-child) {
  margin-top: 5.2rem;
}

.menu-item {
  grid-template-columns: 3fr 1fr;
  row-gap: 0.8rem;
  column-gap: 2rem;
  padding: 1.6rem;
  background-color: #68681c;
}

.menu-item .price {
  justify-self: end;
}

.menu-description {
  font-size: 1.6rem;
  font-style: italic;
}

.menu-diets {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* ************************************ */
/* HOURS AND LOCATION */
/* ************************************ */

.location-hours {
  gap: 3.6rem;
}

.google-map {
  width: 60rem;
  height: 30rem;
}

.hours-container {
  justify-self: center;
  align-self: center;
  /* padding: 1.6rem; */
}
.hours-table {
  border-spacing: 2.4rem 0.6rem;
}

/* ************************************ */
/* RESERVATION */
/* ************************************ */

.reservation-form {
  margin-top: 5.2rem;
  column-gap: 2.4rem;
}

.form-input {
  padding: 3.2rem 0;
  place-self: center stretch;
}

.date-div,
.time-div,
.party-num-div {
  grid-column-start: span 2;
}

.reservation-name-div,
.email-div {
  grid-column-start: span 3;
}

/* .email-div {
  display: ;
} */

input,
select {
  display: flex;
  width: 100%;
  height: 5.2rem;
  padding: 0.8rem;
  font-family: "League Spartan", sans-serif;
  font-size: 1.6rem;
}

input:blank {
  color: red;
}

input::placeholder {
  margin-left: 0.8rem;
  color: #9d9d9d;
}

/* ************************************ */
/* FOOTER */
/* ************************************ */

.section-footer {
  max-width: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.95)
  );
  margin-top: 8rem;
}

.footer-inner {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5.6rem 3.6rem;
}

.footer-logo {
  font-family: "League Script", cursive;
  font-size: 4rem;
  color: #fff;
}

.copyright {
  font-size: 1.4rem;
}

.footer-menu-list {
  text-align: right;
  list-style-type: none;
}

.footer-list--head {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 3.2rem;
}

.footer-list--link:link,
.footer-list--link:visited {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0.4rem;
  /* text-decoration: dotted; */
}

.footer-list--link:hover,
.footer-list--link:active {
  font-size: 2rem;
  color: #d4d6b9;
  transition: all 0.2s;
  border-bottom: solid 0.2rem #d4d6b9;
}
